@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<link href="~/css/manage-pages.css" rel="stylesheet" />

@RenderSection("Styles", required: false)

<div class="row g-0" style="min-height: calc(100vh - 200px);">
    <div class="col-md-3 col-lg-2 border-end bg-light">
        <div class="sticky-top" style="top: 20px; padding: 2rem 1rem;">
            <partial name="_ManageNav" />
        </div>
    </div>
    <div class="col-md-9 col-lg-10">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
